.App{
    position: relative;
    overflow-x: clip;
}

.App>:nth-child(1){
    background: var(--black);
    /* background: linear-gradient(98.75deg,rgba(179,179,252,.3) 2.58%,rgba(199,235,255,.3) 47.57%,rgba(199,255,199,.3) 98.55%); */
    position: relative;

}
.white-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.522);
    filter: blur(100px);
}